html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* NAV */
nav {
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding-right: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}

.sign-in-button {
    display: block;
    font-size: 0.9rem;
    color: white;
    background-color: #1a73e8;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.sign-in-button:hover {
    display: block;
    color: white;
    background-color: #2b7de9;
    text-decoration: none;
}

/* SECTION */
section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 12.15rem;
    margin-bottom: 24.8rem;
}

/* Search Bar */

section form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1.5rem;
}

.searchbar {
    padding: 0.7rem 2rem;
    border: 1px solid #dfe1e5;
    border-radius: 1.5rem;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.searchbar input {
    font-size: 1rem;
    width: 32rem;
    border: 0;
}

.searchbar input:focus {
    outline: 0;
}

.search-buttons {
    margin: 1.2rem;
}

.search-buttons button {
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 0.4rem;
    margin: 0 0.5rem;
}

.search-buttons button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/*******************/

section p {
    font-size: 0.8rem;
}

section a {
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0.8rem;
    border-top: 1px solid #dadce0;
}

.footerright {
    text-align: right;
}

.footerleft {
    text-align: left;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
}

footer a {
    font-size: 0.9rem;
    color: #70757a;
    text-decoration: none;
    padding: 0.8rem;
}

footer a:hover {
    text-decoration: underline;
}