html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding-right: 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}

nav a.button {
    display: block;
    font-size: 0.9rem;
    color: white;
    background-color: #1a73e8;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

nav a.button:hover {
    display: block;
    color: white;
    background-color: #2b7de9;
    text-decoration: none;
}

section {
    margin-top: 12.15rem;
    text-align: center;
}



section p {
    font-size: 0.8rem;
}

section a {
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

#searching {
    text-align: center;
    padding-bottom: 400px;
}

#searchbox {
    width: 500px;
    height: 30px;
    border-radius: 20px;
}

#buttons {
    padding-top: 8px;
}



footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 0.8rem;
    border-top: 1px solid #dadce0;
}

.footerright {
    flex-basis: 50%;
    text-align: right;
}

.footerleft {
    flex-basis: 50%;
    text-align: left;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
}

footer a {
    font-size: 0.9rem;
    color: #70757a;
    text-decoration: none;
    padding: 0.8rem;
}

footer a:hover {
    text-decoration: underline;
}