html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text-link {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.blue-text-link {
    color: rgba(0, 0, 255, 0.85);
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.blue-text-link:hover {
    text-decoration: underline;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#top-links {
    padding-right: 10px;
    padding-bottom: 10px;
}

#sign-in-link {
    text-decoration: none;
    color: #FFF;
    background-color: blue;
    border-radius: 4px;
    padding: 10px 5px;
}

#logo-container {
    text-align: center;
}

#logo {
    padding-top: 250px;
}

#searching {
    text-align: center;
    padding-bottom: 400px;
}

#searchbox {
    width: 500px;
    height: 30px;
    border-radius: 20px;
}

#buttons {
    padding-top: 8px;
}

.button {
    padding: 10px 5px;
}

footer {
    height: 20px;
    background-color: #CCC;
    padding: 15px 0px;
}

#right {
    padding-right: 10px;
    float: right;
}

#left {
    padding-left: 10px;
    float: left;
}