html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text-link {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#top-links {
    padding-right: 10px;
    padding-bottom: 10px;
}

#sign-in-link {
    text-decoration: none;
    color: #FFF;
    background-color: blue;
    border-radius: 4px;
    padding: 10px 5px;
}

#logo {
    padding-left: 40%;
    padding-top: 200px;
}